{% extends "user_account_layout.html" %}
{% block content %}
	<div class="col-lg-12">
		<h1>" That's one small step for a man, one giant leap for mankind. "</h1>
	</div>
	{% for image_name in image_names%}
	<!-- Center Column -->
	<div class="col-sm-6">

		<!-- posts -->
		<div class="row">
			<article class="col-xs-12">
				
			</article>
		</div>
		<hr>
		<div class="row">
			<article class="col-xs-12">
				
			</article>
		</div>
		<hr>      
		<div class="row">
			<article class="col-xs-12">
				
			</article>
		</div>
		<hr>
	</div><!--/Center Column-->
	{% endfor %}
{% endblock content %}